ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "loanddata-df"
		},
		"ADB_loandata_ls_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ADB_loandata_ls'"
		},
		"ADLS_sink_generic_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_sink_generic_ls'"
		},
		"ADLS_source_generic_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_source_generic_ls'"
		},
		"ADB_loandata_ls_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0506-113535-nejc8wm1"
		},
		"ADLS_sink_generic_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://loandatasa.dfs.core.windows.net/"
		},
		"ADLS_source_generic_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://loanrawblob.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_source_generic_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_source_generic_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderName": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderName",
							"type": "Expression"
						},
						"fileSystem": "loan-raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "member_id",
						"type": "String"
					},
					{
						"name": "emp_title",
						"type": "String"
					},
					{
						"name": "emp_length",
						"type": "String"
					},
					{
						"name": "home_ownership",
						"type": "String"
					},
					{
						"name": "annual_inc",
						"type": "String"
					},
					{
						"name": "addr_state",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "grade",
						"type": "String"
					},
					{
						"name": "sub_grade",
						"type": "String"
					},
					{
						"name": "verification_status",
						"type": "String"
					},
					{
						"name": "tot_hi_cred_lim",
						"type": "String"
					},
					{
						"name": "application_type",
						"type": "String"
					},
					{
						"name": "annual_inc_joint",
						"type": "String"
					},
					{
						"name": "verification_status_joint",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_source_generic_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_JSON_LOOKUP_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_sink_generic_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "loan_lookup.json",
						"fileSystem": "rawdata"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"folderName": {
							"type": "string"
						},
						"fileName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_sink_generic_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Loandata end to end pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupJSON",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ADLS_JSON_LOOKUP_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachfile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupJSON",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupJSON').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "RawtoBronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ADLS_source_generic_ds",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@item().folderName",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().fileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_sink_generic_ls",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@item().folderName",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().fileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Customers_data_cleaning",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ForEachfile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_silver_notebooks/Customers_data_DataCleaning_1"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loans_data_cleaning",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Customers_data_cleaning",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_silver_notebooks/Loansdata_DataCleaning_2"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loanrepayment_cleaning",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "loans_data_cleaning",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_silver_notebooks/loanrepayment_DataCleaning_3"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loandefaulters_cleaning",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "loanrepayment_cleaning",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_silver_notebooks/Loan_Defaulters_DataCleaning_4"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loandata_externaltable_gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "loandefaulters_cleaning",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_gold_notebooks/Loandata_externaltable_1"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loandata_join_gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "loandata_externaltable_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_gold_notebooks/Loandata_join_2"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "remove_baddata_clean_gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "loandata_join_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_gold_notebooks/Loandata_removing_baddata_cleaned_3"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loan_score_final_gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "remove_baddata_clean_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/meruguharishreddy@outlook.com/loandata_gold_notebooks/Loandata_loanscore_4"
						},
						"linkedServiceName": {
							"referenceName": "ADB_loandata_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_JSON_LOOKUP_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/ADB_loandata_ls')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_source_generic_ds')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_sink_generic_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_sink_generic_ls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_sink_generic_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderName": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderName",
							"type": "Expression"
						},
						"fileSystem": "bronze-layer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_sink_generic_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADB_loandata_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1197082387023255.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ADB_loandata_ls_accessToken')]"
					},
					"existingClusterId": "[parameters('ADB_loandata_ls_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_sink_generic_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_sink_generic_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_sink_generic_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_source_generic_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_source_generic_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_source_generic_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}